# OS X
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/SwiftPM/Package.resolved
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Swift Package Manager
.swiftpm/xcode/package.resolved
.build/

# Other
*.moved-aside
*.pyc
__pycache__/
